.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal.is-active {
  display: block;
}

.modal,
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 50px;
  top: 35%;
  left: 48%;
  align-items: center;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 20px;
  background-color: white;
}

.profile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.field {
  padding: 3px;
}

.field-is-grouped {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 20px;
}

.globe {
  position: absolute;
  top: 0;
}

.navbar {
  background-color: black;
  z-index: 1;
}

.navbar-header {
  text-align: center;
  padding-top: 40px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-family: monospace;
  :hover {
    cursor: pointer;
  }
}

.navbar-title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.navbar-slogan {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
}

.vertical-buttons button {
  display: block;
  width: 100%;
}

.navbar-end {
  position: relative;
}

.navbar-dropdown-wrapper {
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
}

.navbar-burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
}

.navbar-end a {
  text-decoration: none;
}

.is-primary {
  background-color: green;
  color: white;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-columns {
  column-count: 3;
  column-gap: 1rem;
  column-count: 3;
  column-gap: 1rem;
}
.overlay-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.card:hover .card-overlay {
  opacity: 0.85;
}

.card-content h3 {
  text-align: center;
  font-size: 4vh;
  padding-bottom: 3vh;
}

.card-content h4 {
  text-align: center;
}

.card-content p {
  text-align: left;
}

.notification {
  padding: 15px;
  margin-bottom: 10px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
