.image-background {
  background-image: url("https://www.wns.co.za/Portals/0/Images/HeaderBanner/desktop/1087/53/travel_HD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.label {
  color: #020b0b;
  font-weight: bold;
}

.separate-card {
  border: 1px solid gray;
  padding: 2%;
  margin-bottom: 10px;
  opacity: 0.7;
  background-color: white; /* Optional: Add a shadow effect */
}
