.container {
  height: auto;
  max-height: 100%;
  padding: 250px 2% 30px;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: auto;
  opacity: 0.9;
  background-image: url("https://cdn.wallpapersafari.com/81/55/Pmbxsi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  border: 1px solid gray;
  padding: 2%;
  margin-bottom: 10px;
  opacity: 0.7;
  background-color: white;
}

.cards-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.btn {
  margin-bottom: 10px;
}

.card-4 {
}

@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .cards-container {
    flex-direction: row;
    gap: 10px;
  }

  .card {
    width: 100%;
  }
}
