.card-container {
  /* Your existing styles */
  /* ... */
  transition: opacity 0.5s; /* Add the opacity transition */
}

.card {
  border: 1px solid gray;
  padding: 2%;
  margin-bottom: 10px;
  background-color: #b7d3f6;
}

/* Add the slide-in animation */
.slide-in-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.slide-in-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

.filter-label {
  background-color: #b7d3f6; /* Semi-transparent blue background */
  padding: 5px; /* Adjust the padding as needed */
  border-radius: 4px; /* Add rounded corners */
  margin-right: 10px; /* Add some space between labels */
}
